In [164]:
# !pip install brewer2mpl
# import necessary package
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action='once')

from IPython import get_ipython
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import Imputer
import os

In [166]:
#!pip install --upgrade pip

In [167]:
#!pip list

In [168]:
#!pip install --upgrade tensorflow

In [169]:
import tensorflow as tf

In [170]:
pd.set_option('display.max_row',100)
pd.set_option('display.max_column',100)
pd.set_option('display.float_format', lambda x: '%.5f' % x)


large = 22; med = 16; small = 12
params = {'axes.titlesize': large,
          'legend.fontsize': med,
          'figure.figsize': (16, 10),
          'axes.labelsize': med,
          'axes.titlesize': med,
          'xtick.labelsize': med,
          'ytick.labelsize': med,
          'figure.titlesize': large}


plt.rcParams.update(params)
plt.style.use('seaborn-whitegrid')
sns.set_style("white")
#get_ipython().run_line_magic('matplotlib', 'inline')
#exec(%matplotlib inline)
ipy = get_ipython()
if ipy is not None:
    ipy.run_line_magic('matplotlib', 'inline')
# Version
print(mpl.__version__)  #> 3.0.0
print(sns.__version__)  #> 0.9.0

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

3.0.3
0.9.0

In [171]:
data  =  pd.read_csv('C:\\Users\\wendy\Desktop\data_final.csv') # loading data

<>:1: DeprecationWarning: invalid escape sequence \D

In [172]:
data1 = data.iloc[:,1:]
#data2 = data1.drop(['latitude', 'longitude','assessmentyear'], axis = 1)


X_1  =  data1.iloc[:,:-1]
y_1  = data1.iloc[:,-1]

In [173]:
y_1.shape

(329058,)

In [174]:
X_1.describe()

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,latitude,longitude,propertylandusetypeid,rawcensustractandblock,regionidcity,regionidzip,yearbuilt,structuretaxvaluedollarcnt,assessmentyear,censustractandblock
count,329058.00000,329058.00000,329058.00000,329058.00000,329058.00000,329058.00000,329058.00000,329058.00000,329058.00000,329058.00000,329058.00000,329058.00000,329058.00000
mean,0.00117,0.00066,-0.00403,-0.00037,0.00177,0.00898,0.00318,0.00086,-0.00022,0.01078,-0.00330,-0.00000,0.00065
std,0.98928,0.99115,0.98049,1.00054,1.00167,0.94817,1.00182,0.99010,0.96882,0.99213,0.96546,0.99976,1.00711
min,-2.28994,-2.65475,-1.88856,-2.51765,-3.53904,-44.69851,-0.58671,-0.64438,-0.16233,-6.07914,-0.83660,-1.00020,-0.11658
25%,-0.29052,-0.91055,-0.62930,-0.73309,-0.59055,-0.16015,-0.57216,-0.45351,-0.10459,-0.65572,-0.45753,-1.00020,-0.11374
50%,-0.29052,-0.03845,-0.24780,0.05444,0.07173,-0.16015,-0.56146,-0.18134,-0.05141,0.05899,-0.22525,0.00000,-0.11165
75%,0.70919,0.83364,0.33667,0.63068,0.77198,0.80807,0.48121,0.24999,0.10758,0.77370,0.13287,0.99978,0.09155
max,17.70426,14.78722,22.27544,3.06283,1.79545,2.55088,3.01052,7.73253,81.40026,1.99292,69.20020,0.99978,400.80746

In [175]:
train_X_1, test_X_1, train_y_1, test_y_1 = train_test_split(X_1, y_1, test_size=0.33, random_state=42)
train_set, test_set = train_test_split(data1, test_size=0.33, random_state=42)

In [176]:
train_X_1.shape

(220468, 13)

In [177]:
train_set.shape
train_set.head()

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,latitude,longitude,propertylandusetypeid,rawcensustractandblock,regionidcity,regionidzip,yearbuilt,structuretaxvaluedollarcnt,assessmentyear,censustractandblock,logerror
255912,1.20905,0.83364,1.58424,-1.15887,1.09754,-0.16015,0.48282,-0.13290,0.11591,1.53046,1.66160,-1.00020,0.09187,0.04764
101979,0.70919,-0.03845,-0.27543,0.44824,0.36693,-0.16015,-0.56827,0.00235,-0.01945,-0.19326,-0.24341,0.99978,-0.11298,0.05173
292660,-0.29052,-0.91055,-0.98423,2.07244,0.32250,0.80807,-0.54731,0.13853,0.19917,0.81575,-0.66240,-1.00020,-0.10890,-0.50274
76399,-0.79037,0.83364,-0.72175,-1.23472,0.84417,-0.16015,0.48226,0.09175,0.09980,-0.52960,-0.58003,0.99978,0.09176,0.35843
151681,0.70919,-0.03845,-0.34663,-1.19394,0.63876,-0.16015,0.48397,-0.54010,0.11322,-0.19326,-0.25801,0.99978,0.09209,0.35239

In [178]:
lr = LinearRegression()
lr.fit(train_X_1, train_y_1[:,np.newaxis])
lr.score(test_X_1, test_y_1)

0.005175216566090991

In [179]:
col_train_bis = list(train_X_1.columns)
feature_cols = [tf.contrib.layers.real_valued_column(k) for k in col_train_bis]

feature_cols # feature exploration for tensorflow

[_RealValuedColumn(column_name='bathroomcnt', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='bedroomcnt', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='calculatedfinishedsquarefeet', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='latitude', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='longitude', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='propertylandusetypeid', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='rawcensustractandblock', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='regionidcity', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='regionidzip', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='yearbuilt', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='structuretaxvaluedollarcnt', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='assessmentyear', dimension=1, default_value=None, dtype=tf.float32, normalizer=None),
 _RealValuedColumn(column_name='censustractandblock', dimension=1, default_value=None, dtype=tf.float32, normalizer=None)]

In [180]:
FEATURES = col_train_bis  # feature columns
LABEL = "logerror"   # target column
train_set.reset_index(drop = True, inplace =True)
def input_fn(data_set, pred = False):  # define a function that provide provide proper input format for DNN training and prediction
    
    if pred == False:
        
        feature_cols = {k: tf.constant(data_set[k].values) for k in FEATURES}
        labels = tf.constant(data_set[LABEL].values)
        
        return feature_cols, labels

    if pred == True:
        feature_cols = {k: tf.constant(data_set[k].values) for k in FEATURES}
        
        return feature_cols

In [181]:
tf.logging.set_verbosity(tf.logging.ERROR)

# A complex Deep learning model, has better accuaracy, but take a long time to train
DNN1 = tf.contrib.learn.DNNRegressor(feature_columns=feature_cols, 
                                          activation_fn = tf.nn.relu, hidden_units=[200, 100, 50, 25, 12],
                                         optimizer = tf.train.GradientDescentOptimizer( learning_rate= 0.1 ))

# A simple Deep learning model, very quick to train, with ok accuracy
DNN = tf.contrib.learn.DNNRegressor(feature_columns=feature_cols, hidden_units=[10, 10] )

In [182]:
DNN.fit(input_fn=lambda: input_fn(train_set), steps=2000)

C:\Users\wendy\Anaconda3\lib\site-packages\numpy\lib\type_check.py:546: DeprecationWarning: np.asscalar(a) is deprecated since NumPy v1.16, use a.item() instead
  'a.item() instead', DeprecationWarning, stacklevel=1)

DNNRegressor(params={'head': <tensorflow.contrib.learn.python.learn.estimators.head._RegressionHead object at 0x000002099BBB9CF8>, 'hidden_units': [10, 10], 'feature_columns': (_RealValuedColumn(column_name='bathroomcnt', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='bedroomcnt', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='calculatedfinishedsquarefeet', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='latitude', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='longitude', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='propertylandusetypeid', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='rawcensustractandblock', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='regionidcity', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='regionidzip', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='yearbuilt', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='structuretaxvaluedollarcnt', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='assessmentyear', dimension=1, default_value=None, dtype=tf.float32, normalizer=None), _RealValuedColumn(column_name='censustractandblock', dimension=1, default_value=None, dtype=tf.float32, normalizer=None)), 'optimizer': None, 'activation_fn': <function relu at 0x00000209EAF70048>, 'dropout': None, 'gradient_clip_norm': None, 'embedding_lr_multipliers': None, 'input_layer_min_slice_size': None})

In [183]:
ev = DNN.evaluate(input_fn=lambda: input_fn(test_set), steps=1)

In [184]:
loss_score1 = ev["loss"]
print("Final Loss on the testing set: {0:f}".format(loss_score1))

Final Loss on the testing set: 0.261918

In [191]:
y = DNN.predict(input_fn=lambda: input_fn(data1))
import itertools
predictions = list(itertools.islice(y, data1.shape[0]))

In [199]:
len(predictions)
data2  = pd.read_csv(r"C:\Users\wendy\Desktop\result_rf_DNN_stacking.csv" )
data2['DNN_logerror'] = predictions
data2.head()

,Unnamed: 0,Unnamed: 0.1,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,latitude,longitude,propertylandusetypeid,rawcensustractandblock,regionidcity,regionidzip,yearbuilt,structuretaxvaluedollarcnt,assessmentyear,censustractandblock,logerror,rf_logerror,stacking_logerror,DNN_logerror
0,0,0,2.70861,0.83364,2.10495,1.66962,-2.92425,-0.16015,3.01012,-0.43979,0.13766,0.56349,1.39868,-1.00020,0.58442,-0.16297,0.10250,0.03943,0.08865
1,1,1,2.70861,0.83364,2.10495,1.66962,-2.92425,-0.16015,3.01012,-0.43979,0.13766,0.56349,1.43277,0.99978,0.58442,-0.16297,0.09659,-0.06456,0.10499
2,2,2,-0.29052,-0.03845,-0.35619,1.68758,-2.87939,-0.16015,3.01012,-0.43979,0.13766,-0.73981,-0.25404,-1.00020,0.58442,0.36256,-0.14138,-0.14343,-0.03970
3,3,3,-0.29052,-0.03845,-0.35619,1.68758,-2.87939,-0.16015,3.01012,-0.43979,0.13766,-0.73981,-0.24516,0.99978,0.58442,0.36256,-0.11247,-0.09673,-0.03543
4,4,4,-0.79037,-0.03845,-0.08627,1.35386,-3.46398,-0.16015,3.01014,0.01739,0.13283,0.43737,0.02462,-1.00020,0.58442,0.34989,0.12104,0.17169,-0.01939

In [201]:
data2.to_csv(r'C:\\Users\\wendy\Desktop\result_rf%DNN%stacking2.csv')

In [202]:
mean_squared_error(predictions, data2['logerror'])

0.2588433400534187